
# Database
DATABASE_URL="you-db-link"
# Redis
REDIS_URL="redis-link"

# Kafka
KAFKA_BROKER="your-kafka-link"

# Auth
JWT_SECRET="dosomething-everyday"
PORT=3000
NODE_ENV="development"
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=yourdbname
BASE_URL=http://localhost